.custom-sidebar-span {
  color: var(--text-color);
}

.custom-p {
  color: var(--text-color);
}

.context-button {
  background-color: var(--button-color);
}

.custom-span {
  color: #000
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.margin-header {
  padding-top: 190px;
}

.latest-wishes-table table {
  background: linear-gradient(204deg, #e7cbcda6 20.87%, rgba(110, 71, 74, 0) 82.85%);
  border-collapse: separate;
  border-spacing: 50px 0em;

}

.dashboard .table tr {
  position: relative;
}

.dashboard .table tr:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #efeaea;
  z-index: 0;
}

.latest-wishes-table .dashboard table thead th {
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.latest-wishes-table .dashboard table tr td {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.latest-wishes-table .dashboard table tr td:nth-child(1) {
  background: white;
}

.latest-wishes-table .dashboard table tr td:nth-child(2) {
  background: white;
  color: #8b8686 !important;
}

.latest-wishes-table .dashboard table tr td:nth-child(3) {
  background: white;
}

.latest-wishes-table .dashboard table tr td:nth-child(4),
.latest-wishes-table .dashboard table tr td:nth-child(5) {
  background: white;
}

.show-case .table tr:before {
  display: none;
}



.switch.type_switch {
  width: 90px;
}

.switch.type_switch::before {
  left: 25px;
}

.type_switch input:checked+.slider {
  background-color: #2ab934;
}

/*------ ADDED CSS ---------*/
.type_switch .on {
  display: none;
}

.type_switch .on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.type_switch .off {
  left: 65%;
}

.type_switch .on {
  left: 35%;
}

/* .type_switch .slider::before {
  right: 31px;
} */
.type_switch input:checked+.slider .on {
  display: block;
}

.type_switch input:checked+.slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.type_switch .slider.round {
  border-radius: 34px;
}

.type_switch .slider.round:before {
  border-radius: 50%;
  /* transform: translateX(47px); */
}

.type_switch input:checked+.slider::before {
  transform: translateX(55px);
}

.voting-row {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 0 2px 0 #0000002b;
}

.voting-row p {
  font-size: 13px;
  font-weight: 600;
  padding: 0 7px 7px;
  border-bottom: 1px solid #22222224;
}

.voting-row .custom-radio .fa {
  font-size: 30px !important;
}

.voting.row .custom-radio {
  padding: 0 10px;
}

.no-of-vote.custom-grid {
  display: block;
}

.voting-row .voting.row {
  margin: 0;
  border-bottom: 1px solid #22222224;
}