.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.margin-header {
  padding-top: 190px;
}
.latest-wishes-table table{
  background: linear-gradient(204deg, #e7cbcda6 20.87%, rgba(110, 71, 74, 0) 82.85%);
  border-collapse: separate;
  border-spacing: 50px 0em;

}
.dashboard .table tr {
  position: relative;
}
.dashboard .table tr:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #efeaea;
  z-index: 0;
}
.latest-wishes-table .dashboard  table thead th {
  color: black;
  font-size: 22px;
  font-weight: 500;
}
.latest-wishes-table .dashboard table tr td {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.latest-wishes-table .dashboard table tr td:nth-child(1) {
  background: white;
}
.latest-wishes-table .dashboard table tr td:nth-child(2) {
  background: white;
  color: #8b8686 !important;
}
.latest-wishes-table .dashboard table tr td:nth-child(3) {
  background: white;
}
.latest-wishes-table .dashboard table tr td:nth-child(4),.latest-wishes-table .dashboard table tr td:nth-child(5) {
  background: white;
}

.show-case .table tr:before {
  display: none;
}